diplomacy==1.1.2
matplotlib
fastmcp>=2.13.0.2
groq
httpx>=0.28.1
httpx-sse>=0.4.3
mcp>=1.21.1
openai-agents[litellm]
fastapi
python-jose[cryptography]
python-multipart
pydantic
google-genai
langchain
langchain-core 
langchain-google-genai
uvicorn
psycopg2-binary
pytest